html {
    scroll-behavior: smooth;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: #2e4482;
}

.navbar {
    top: 0;
    /* background: #32324CDE; */
    background-color: rgba(0,0,0,0);
    font-family: "Raleway";
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
}

.navbar-brand {
    color: #fff;
    font-family: "Raleway";
}

.navbar-toggler {
    background-color: #000;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    scroll-margin-top: 5rem;
}

h1 {
    font-size: 32pt;
    color: #fff;
    font-family: "Raleway";
    font-weight: bold;
}

h2 {
    color: #32324c;
}

h3 {
    font-size: 24pt;
    font-family: "Roboto";
    margin-bottom: 1rem;
    font-weight: bold;
    color: #E5446D;
}

.text-name {
    font-size: 40pt;
    color: #E5446D;
    font-weight: bold;
}

.lead {
    color: #fff;
    font-size: 18pt;
    font-family: "Raleway";
}

#btn-about {
    border-radius: 0;
    border-color: #06AED5;
    background-color: #06AED5;
    color : #fff;
}

.text-important {
    color: #B5B682;
}

.btn-social {
    color: #fff;
    font-size: 16pt;
}

@media (max-width: 480px) {
    .navbar-brand {
        margin-left: 0!important;
    }
}

.title-section {
    font-size: 28pt;
    font-family: "Raleway";
    font-weight: bold;
    margin-bottom: 2rem;
}

.text-about {
    font-size: 14pt;
    font-family: "Raleway";
}

.card-project {
    background-color: #3D5A80;
    padding-bottom: 40px;
}

.card-img, .card-img-top {
    border-radius: 0;
}

.card-title {
    font-size: 18pt;
    font-family: "Roboto";
    font-weight: bold;
}

@media (max-width: 991px) {
    .card-img-3 {
      display: none;
    }

    .col-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .card-img-2 {
      display: none;
    }

    .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .image-set {
      display: none;
      max-width: 0%;
    }

    .col-about {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.page-footer {
    background-color: #32324c;
}
.card-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}

.a-icon {
    color: #B5B682;
    font-weight: bold;
    margin: 10px;
}

a:hover {
    color: #06AED5;
}

.btn-social:hover {
    color: #06AED5;
}

.progress {
    margin-bottom: 10px;
    height: 20px;
    /* border: solid 1px black; */
    border-radius: 0px;
}

.icon-skill {
    height: 48px;
    position: relative;
    z-index: 10;
}

.progress-skill {
    background-color: #E5446D; /* gold; */
}

.skill-rank {
    font-size: 27px;
    font-weight: bold;
}